div(ng-include='"components/navbar/navbar.html"')
div.col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12
  div.trade-buttons.pull-right
    button.btn.btn-success.btn-trade(ng-click="tradeBook(book)") Trade
    button.btn.btn-default.btn-trade(ng-click="cancelTrade(book)") Cancel Trade
    button.btn.btn-success.btn-trade(ng-click="requestTrade(book)") 
      i.fa.fa-exchange &nbsp; Request Trade
    button.btn.btn-success.btn-trade(ng-click="acceptTrade(book)") Approve Trade Request
    button.btn.btn-success.btn-trade(ng-click="acceptTrade(book)") Cancel Request
  h1 {{book.title}}  
  img(src="{{book.imageLinks.small}}")
  p {{book.publishedDate}}
  p {{book.description}}
  p Page Count: {{book.pageCount}}
  p Rating: {{book.averageRating}}
  p {{book.ratingsCount}}
