h1 Search for your book title
form(name="newBookSearch")
  input.form-control(placeholder="Search" ng-model = "search.term" ng-model-options="{debounce: 2500}")
  ul.list-group
    //-p {{search.results}}
    li.list-group-item(ng-repeat="result in search.results")
      img(src="{{result.imageLinks.thumbnail}}")
      p {{result.title}}
      p 
        span(ng-repeat="author in result.authors") {{author}}{{$last? '' : ', '}}
      p Published: {{result.publishedDate | date: 'yyyy'}}
      p 
        span(ng-repeat="category in result.categories") {{category}} {{$last? '' : ', '}}
      p
        span(ng-repeat="isbn in result.industryIdentifiers") ISBN: {{isbn.identifier}} 
      button.btn.btn-default(ng-click="addBook(result)" ng-disabled="result.onShelf")
        span(ng-if="!result.onShelf") Add Book
        span(ng-if="result.onShelf") On Shelf


