h1 My Bookshelf
div.row
  div.book(ng-repeat="book in bookshelf")
    img(src="{{book.thumbnail}}")
    //-p {{book.title}}
    //-p 
      //-span(ng-repeat="author in book.authors") {{author}}{{$last? '' : ', '}}
    //-p Published: {{book.datePublished | date: 'yyyy'}}
    //-p 
      //-span(ng-repeat="category in book.categories") {{category}} {{$last? '' : ', '}}
    //-p
      //-span(ng-repeat="isbn in book.industryIdentifiers") ISBN: {{isbn.identifier}} 
    button.remove-book.btn.btn-default(ng-click="removeBook(book)")
      i.fa.fa-times
    //-button.btn.btn-default(ng-click="addBook(result)" ng-disabled="result.onShelf")
      //-span(ng-if="!result.onShelf") Add Book
      //-span(ng-if="result.onShelf") On Shelf
